<h1 align="center">Listing all articles</h1>
  <center>
    <%= @article.count %>
    <br/>
  <%=	 will_paginate @article %>
<%=	 render 'articles', obj: @article %>

  <%=	 will_paginate @article %>
</center>