<center><h1>Show page</h1>

<p class="alert-danger">
  <%= @article.title %>
</p>


<p>
  <%= @article.description %>
</p>

  <br/>
  <%= link_to 'Articles', articles_path %>
  <br/>
  <br/>
  <%= link_to 'Edit this article', edit_article_path(@article) %>


</center>