<center><H1>This is the pages about page</H1>


<%= link_to 'Home', root_path %>

</center>

<br/>


<div style="float: left; width:400px; color:red">

  <p>Translated from the original Japanese version written by Yukihiro Matsumoto (the creator of Ruby),
    this version, by Goto Kentaro and Mark Slagell, is a nice overview of many aspects of the Ruby language.
  </p>
</div>


<div style="float: right; width:400px; color:blue">

  <p>An unconventional but interesting book that will teach you Ruby through stories, wit, and comics.
    Originally created by why the lucky stiff, this guide remains a classic for Ruby learners.</p></div>


<center><div>

  <p style="width:400px; color:green">The Koans walk you along the path to enlightenment in order to learn Ruby. The goal is
    to learn the Ruby language, syntax, structure, and some common functions and libraries. We also teach
    you culture.</p></div></center>

<hr/>