<center><H1>This is the pages home page</H1>


 <h4><%= link_to 'About', pages_about_path %> | <%= link_to 'Article', articles_path %> </h4>



</center>

<br/>


<div style="float: left; width:400px; color:red">

  <h3><p>David Heinemeier Hansson Net Worth: David Heinemeier Hansson is a Danish
    programmer who has a net worth of $40 million. David Heinemeier Hansson was
    born October 15, 1979 in Copenhagen, Denmark. In 1999, Hansson founded and
    built a Danish online gaming news website and community called Daily Rush, which he ran until 2001</p></h3>
</div>


<div style="float: right; width:400px; color:blue">

  <h3><p>David Heinemeier Hansson Net Worth: David Heinemeier Hansson is a Danish
    programmer who has a net worth of $40 million. David Heinemeier Hansson was
    born October 15, 1979 in Copenhagen, Denmark. In 1999, Hansson founded and
    built a Danish online gaming news website and community called Daily Rush, which he ran until 2001</p></h3></div>


<center><div>

 <h3><p style="width:400px; color:green">David Heinemeier Hansson Net Worth: David Heinemeier Hansson is a Danish
    programmer who has a net worth of $40 million. David Heinemeier Hansson was
    born October 15, 1979 in Copenhagen, Denmark. In 1999, Hansson founded and
    built a Danish online gaming news website and community called Daily Rush, which he ran until 2001</p></h3></div></center>

<hr/>