@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  color: #EFEFEF;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 1.7em;
  font-weight: bold;
}

#logo:hover{
  color: #EFEFEF;
  text-decoration: none;
}

.jumbotron{

  background-image: asset-url('Blog-Promotion.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;

}

.jumbotron h2{
  color: #EFEFEF;
}

.jumbotron h4{
  color: #2E2F30;
}

.article-title {

  font-weight: bold;

  font-size: 1.5em;

}

.article-body {

  border-top: 1px solid #eaeaea;

  padding-top: 15px;

  padding-bottom: 15px;

}