  <center>
<hr style="width: 25%"/>
  <h4>
   <h3>Category: <%= @categories.name %></h3>
  </h4>
  <hr style="width: 50%"/>
    <%=	 will_paginate @categories_articles %>


    <%= render 'articles/articles', obj: @categories_articles %>

    <%=	 will_paginate @categories_articles %>

</center>